<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.pushapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="${applicationId}.permission.PUSHIO_MESSAGE" />
    <uses-permission android:name="${applicationId}.permission.RSYS_SHOW_IAM" />
    <permission android:name=".permission.PUSHIO_MESSAGE" android:protectionLevel="signature" />
    <permission android:name="${applicationId}.permission.RSYS_SHOW_IAM" android:protectionLevel="signature" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <intent-filter>
          <action android:name="${applicationId}.NOTIFICATIONPRESSED" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>

        <intent-filter android:autoVerify="true">
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
          <data android:host="@string/app_links_url_host" android:pathPrefix="/pub/acc" android:scheme="https" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

      <receiver android:enabled="true" android:exported="false" android:name="com.pushio.manager.PushIOUriReceiver">
          <intent-filter>
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <data android:scheme="@string/uri_identifier" />
          </intent-filter>
      </receiver>
      <activity android:name="com.pushio.manager.iam.ui.PushIOMessageViewActivity" android:permission="${applicationId}.permission.SHOW_IAM" android:theme="@android:style/Theme.Translucent.NoTitleBar">
          <intent-filter>
          <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.BROWSABLE" />
              <category android:name="android.intent.category.DEFAULT" />
              <data android:scheme="@string/uri_identifier" />
          </intent-filter>
      </activity>
    </application>

</manifest>
